<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saviosvm.showdomilhaomatemtico">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".view.SplashScreen"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.Principal"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".view.Regra"
            android:parentActivityName=".view.Principal"
            android:label="Regras"
            android:theme="@style/AppTheme2"
            android:screenOrientation="landscape">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saviosvm.showdomilhaomatemtico.view.Principal" />
        </activity>

        <activity
            android:name=".view.Placar"
            android:parentActivityName=".view.Principal"
            android:label="Placar"
            android:theme="@style/AppTheme2"
            android:screenOrientation="landscape">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saviosvm.showdomilhaomatemtico.view.Principal" />
        </activity>

        <activity
            android:name=".view.Sobre"
            android:parentActivityName=".view.Principal"
            android:label="Sobre o Jogo"
            android:theme="@style/AppTheme2"
            android:screenOrientation="landscape">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saviosvm.showdomilhaomatemtico.view.Principal" />
        </activity>

        <activity
            android:name=".view.Jogo"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.Nome"
            android:label="Vamos conhecer o participante..."
            android:theme="@style/AppTheme2"
            android:parentActivityName=".view.Principal"
            android:screenOrientation="landscape">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saviosvm.showdomilhaomatemtico.view.Principal" />
        </activity>

        <activity
            android:name=".view.Cartas"
            android:parentActivityName=".view.Jogo"
            android:label="Escolha as cartas..."
            android:theme="@style/AppTheme2"
            android:screenOrientation="landscape">
            <!-- Parent activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.saviosvm.showdomilhaomatemtico.view.Jogo" />
        </activity>

    </application>

</manifest>